:root {
  --bgdefault: rgba(255, 255, 255, 1);
  --typoprimary: rgba(0, 32, 51, 1);
  --typosecondary: rgba(0, 32, 51, 0.6);
  --control-clearbg: rgba(0, 66, 105, 0);
  --typoprimary: rgba(0, 32, 51, 1);
  --control-ghosttypo: rgba(0, 57, 92, 0.8);
  --typosecondary: rgba(0, 32, 51, 0.6);
  --control-secondarytypo: rgba(0, 120, 210, 1);
  --control-primarytypo: rgba(255, 255, 255, 1);
  --bgstripe: rgba(0, 32, 51, 0.05);
  --bgdefault: rgba(255, 255, 255, 1);
  --bgsuccess: rgba(34, 195, 142, 1);
  --control-ghostbg: rgba(0, 66, 105, 0.07);
  --control-secondarybg-border: rgba(0, 120, 210, 1);
  --control-primarybg: rgba(0, 120, 210, 1);
  --2xl-font-family: "Segoe UI", Helvetica;
  --2xl-font-weight: 400;
  --2xl-font-size: 24px;
  --2xl-letter-spacing: 0px;
  --2xl-line-height: 150%;
  --2xl-font-style: normal;
  --s-font-family: "Segoe UI", Helvetica;
  --s-font-weight: 400;
  --s-font-size: 14px;
  --s-letter-spacing: 0px;
  --s-line-height: 150%;
  --s-font-style: normal;
  --shadow-group: 0px 2px 8px 0px rgba(0, 32, 51, 0.16), 0px 2px 2px 0px
    rgba(0, 32, 51, 0.02);
}